* {
    margin: 0;
    padding: 0;
    border: 0;
}

div.preto {
    width: 100px;
    height: 100px;
    top: 0;
    background-color: #000;
    position: fixed;
}

div.vermelho {
    width: 100px;
    height: 100px;
    bottom: 0;
    background-color: red;
    position: fixed;
}

div.verde {
    width: 100px;
    height: 100px;
    right: 0;
    top: 0;
    position: fixed;
    background-color: green;
}

div.azul {
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: blue;
}

